<div class="container">
  <h1><%= @company.name %></h1>
  <!-- app/views/restaurants/show.html.erb -->
  <p>Document = <%= @company.document %></p>
  <p>Allowed domains = <%= @company.allowed_domains %></p>

  <%= link_to "Delete", company_path(@company),
  method: :delete,
  data: { confirm: "Are you sure?" } %>
  <%= link_to "Back", :back  %>
</div>

